
---
layout: nil
---

/* Include your usual CSS here. */

html {
  font-size: 16px;

}
@media (min-width: 48rem) {
  html {
      font-size: 20px;
  }
}


body {
    background-color: #18335d;
    font: 1rem/1.5 "PT Sans", sans-serif;
    color: black;
}

#container {
    padding: 3px 3px 3px 3px;
    margin: 3px auto 3px auto;
    background-color: #ffe;
    width: 800px;
}

a {
  color: #08c;
  text-decoration: none;
}


.asn_table  {
    border: 2px solid black;
    border-collapse: collapse;
}

.asn_table * td,th {
    border: 1px solid black;
    border-collapse: collapse;
}

.asn_table * .asn_num {
    width: 3em;
}

.asn_table * .asn_ready {
    width: 3em;
}

.asn_table * .asn_desc {
    width: auto;
    text-overflow: ellipsis;
}

.asn_table * .asn_date {
    width: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-device-width: 480px) {
    .asn_table * .asn_num {
	width: 3em;
    }
    
    .asn_table * .asn_ready {
	width: 3em;
    }
    
    .asn_table * .asn_desc {
	width: 5em;
    }
    
    .asn_table * .asn_date {
	width: 3em;
	font-size: 16px;
    }
    
}


a:hover {
  text-decoration: underline;
}
