---
layout: null
---


.asn_table  {
    border: 2px solid black;
    border-collapse: collapse;
}

.asn_table * td,th {
    border: 1px solid black;
    border-collapse: collapse;
}

.asn_table * .asn_num {
    width: 3em;
}

.asn_table * .asn_ready {
    width: 3em;
}

.asn_table * .asn_desc {
    width: auto;
}

.asn_table * .asn_date {
    width: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-device-width: 480px) {
    .asn_table * .asn_num {
	width: 3em;
    }
    
    .asn_table * .asn_ready {
	width: 3em;
    }
    
    .asn_table * .asn_desc {
	width: 5em;
    }
    
    .asn_table * .asn_date {
	width: 3em;
	font-size: 16px;
    }
    
}

.pagebreak {
    page-break-before: always;
    height: 0.5em;
    width: 100%;
    border: 1px solid black;
}

@media print {
	div.header {display: none; }
	div.footer {display: none; }
	body { 
		font-size: 12px;
		font-family: "Times New Roman",  serif;
	}
	
	.pagebreak {
	    page-break-before: always;
	    height: 0.5em;
	    width: 100%;
	    border: none;
	}

}

tr.not-ready td { color: #ccc; }