
---
layout: nil
---

/* Include your usual CSS here. */

html {
  font-size: 16px;
}
@media (min-width: 48rem) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: black;
}

a {
  color: #08c;
  text-decoration: none;
}

#hwk_table {
  border: 1px solid black; 
}
}
a:hover {
  text-decoration: underline;
}
