<!-- exam_instructions_li_elements.html  -->
<li>
  Please write your name <strong>above AND AT THE TOP OF EVERY ODD NUMBERED PAGE</strong>
</li>

<li>
  Please put your pages  <strong>in order, facing the same way.</strong><br>
  <ol>
    <li>
      All the odd pages have dots (&bull;); these should be upper right, and facing up.
    </li>
    <li>
      All the even numbered pages have crosses (&times;) at upper right and should be facing down.
    </li>
  </ol>
</li>
<li>Be sure you turn in every page of this exam.
  <ul>
    <!-- <li> Each exam is numbered (e.g. Exam #137).</li> -->
    <li>Each of the pages is numbered (e.g. Page 1, Page 2, etc.)</li>
    <li>The last page clearly says "End of Exam".</li>
  </ul>
</li>
<li>
  This exam is <strong>closed book, closed
  notes</strong>, <strong>closed mouth, cell phone off</strong>
</li>

<li >
  You are permitted <strong>one sheet of paper</strong> (max size 8.5x11&quot;) on which to write notes
</li>
<li>This sheet will be collected with the exam, and might not be returned</li>
<li> Please write your name on your notes sheet </li>
