<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{ page.num }} - {{ page.desc }} - {{course}}</title>
  </head>
    <body id="page-top">
      <div id="container" data-role="page">
      {% include nav.html %}
        <div id="content"  class="ui-content">
        <div class="hwk-header">
          <h1>{{page.num}} : {{page.desc}}</h1>
          <table class="asn_table">
            {% include asn_table_header_row.html %}
            {% assign asn = page %}
            {% include asn_table_row.html %}
          </table>
          
      
<table class="hwk_name_table">

<tr><th colspan="5" class="hwk_header_name_label">Name:</th></tr>
<tr><th colspan="5" class="hwk_header_subtext">(as it would appear on official course roster)</th></tr>
<tr>
  <th class="hwk_header_umail">  Umail address:</th>
  <th class="hwk_header_umail_entry"> @umail.ucsb.edu</th>
  <th rowspan="3" class="hwk_header_section"> section<br />
     4,&#160;5,&#160;or&#160;6<br />
     &#160;&#160; <br />
     <span style="padding-left:5em;">&#160;</span>
     <br /><div style="margin-top:3em;">&#160;</div>
   </th>
</tr>
<tr>
<th colspan="2" style="text-align:left; vertical-align:middle; font-size: 8pt !important; font-family:Arial Narrow, sans-serif; line-height:105%;"> Optional: name you wish to be called<br />if different from name above.
</th></tr>
<tr>
<th colspan="2" style="text-align:left; vertical-align:middle; font-size: 8pt !important; font-family:Arial Narrow, sans-serif; line-height: 105%;"> Optional: name of "homework buddy"<br />(leaving this blank signifies "I worked alone"
</th></tr></table>
<div style="font-size: 8pt !important; font-family:Arial Narrow, sans-serif; font-style:italic; line-height: 100%;">
<p>You may collaborate on this homework with AT MOST one person, an optional "homework buddy".
</p>
</div>
<h1 class="hdr-main"><span class="mw-headline" id=""><span class="hdr-main-title"></span><span class="hdr-due"></span></span></h1>
<div class="hdr-title"></div>
<div class="hdr-assigned"></div>
<div class="pointCount hdr-pointcount"></div>
<p>MAY ONLY BE TURNED IN IN THE LECTURE/LAB LISTED ABOVE AS THE DUE DATE,<br />
OR IF APPLICABLE, SUBMITTED ON GRADESCOPE.   There is NO MAKEUP for missed assignments;<br />
in place of that, we drop the five lowest scores (if you have zeros, those are the five lowest scores.)
</p>
<hr />

          
        </div><!-- hwk-header -->  
          {{ content }}
        </div><!-- content -->
        {% include footer.html %}
      </div><!-- container -->
  </body>
</html>
